<div id="projects"><h2 ng-show="language.ru">Месторождение торфа «Бородино»</h2>
    <h2 ng-show="language.eng">Deposit of peat "Borodino"</h2>
    <div class="article">
        <div class="article-text">
            <div ng-show="language.ru"><p>В соответствии с Постановлением Администрации Калининградской области № 568 от
                27 августа 2014 года, ООО «УНИСЕРВИС»
                признано единственным победителем аукциона на право пользования участком недр местного значения в целях
                разведки и добычи
                торфа на месторождении «Бородино», расположенном на территории муниципального образования
                «Краснознаменский муниципальный
                район» Калининградской области. (Лицензия серия КЛГ номер 80020 вид лицензии ТЭ от 18 декабря 2014
                года).</p>
                <p>Право пользования недрами в пределах горного отвода площадью 552 га предоставлено ООО «УНИСЕРВИС» до
                    31.12.24 года.</p>
                <p>Срок действия лицензии корректируется после проведения геологоразведки с целью уточнения запасов
                    торфа на месторождении
                    «Бородино», разработки, согласования и утверждения технического проекта разработки месторождения,
                    установления годового
                    объема добычи торфа в период полной мощности и утверждения уточненных границ горного отвода.</p>
                <p>Также срок действия лицензии может быть продлен по инициативе недропользователя в случае
                    необходимости завершения
                    разработки месторождения торфа «Бородино», рекультивации земель либо выполнения ликвидационных
                    мероприятий.</p>
                <p>В соответствии с лицензионным договором уровень годовой добычи торфа на месторождении «Бородино»
                    составляет 54 тыс.тонн
                    условной влажности (40 %).</p>
                <p>Месторождение торфа «Бородино» расположено в 6,0 км к западу от города Краснознаменска
                    Калининградской области на землях
                    лесного фонда Краснознаменского лесничества.</p>
                <p>Общая площадь месторождения торфа «Бородино» составляет 1 857 га. Запасы утверждены протоколом
                    переоценки категорий и
                    групп запасов, и уточнения запасов торфа по торфяному месторождению «Бородино» отдела торфяного
                    фонда Министерства
                    геологии РСФСР от 20 марта 1980 года № 12, общий запас торфа составляет 81233,8 тыс. куб. м или
                    1870,32 тыс. тонн при 40 %
                    влажности.</p>
                <p>Залежь торфа месторождения «Бородино» относится в основном к верховому типу и представлена
                    фускум-торфом. Средняя мощность торфяной залежи составляет 4,47 м, максимальная мощность достигает
                    7,6 м.</p>
                <p>Торф подстилается озерными, озерно-ледниковыми супесями, суглинками, песками, глинами,
                    сапропелем.</p></div>
            <div ng-show="language.eng"><p>In accordance with the Decree issued by the Kaliningrad Regional
                Administration No. 568 on 27th August 2014, UNISERVICE is recognized as the sole winner of the rights to
                the use of a local subsoil plot for the purposes of exploration and production of peat in ‘Borodino’
                located on the territory of the municipality of Krasnoznamenski region in the Kaliningrad area (License
                series KLG No. 80020, type of license TE from 18th December 2014).</p>
                <p>The rights to the use of subsoil is within the boundaries of the mountain area of 552 hectares given
                    to UNISERVICE until 31.12.24.</p>
                <p>The license period is corrected after the completion of a geo-survey with the aim of confirming the
                    deposits of peat at Borodino as well as development, agreement and confirmation of the technical
                    project for the development of the area, obtainment of a yearly volume of peat at maximum capacity
                    and refinement of the established.</p>
                <p>Moreover, the period of the license can be extended on the initiative of the user of the subsoil in
                    the event that it is necessary to halt the development of peat in Borodina to recultivate land or
                    liquidate the project.</p>
                <p>In accordance with the license, the production level of peat on Borodino is 54,000 tons in ideal
                    conditions of humidity (40%)</p>
                <p>Borodino is located 6km to the west of the town of Krasnoznamenska in the Kaliningrad area, on the
                    land of the fund of the Krasnoznamensk Forestry.</p>
                <p>The total area of of Borodino is 1,857 hectares. Reserves are confirmed by the protocol of the
                    reevaluation categories and group reserves, and the confirmation of reserves in Borodino by the peat
                    fund of the Ministry of Geology RSFSR from 20 March 1980 No. 12, with the total deposits standing at
                    81,233.8 thousand or otherwise expressed as 1870,32 thousand tones at 40% humidity.</p>
                <p>The deposit of peat at Borodino refers to the surface variety, called the ficsum-peat. The average
                    thickness of the peat deposits is 4,47m, and maximum thicknesspper reaches 7,6m.</p>
                <p>Peat is underlain by lacustrine, and glacial sandy loam, loam, sand, clay, sapropel.</p></div>
            <div photo-field-gallery="photo-field-gallery" class="photo-gallery">
                <div class="main-img"><img ng-src="./images/field/{{selected}}.jpg"/></div>
                <ul>
                    <li ng-repeat="photo in photoArray" ng-click="selectPhoto($index)" class="small-img"><img
                            ng-src="./images/field/{{photo}}-small.jpg"/></li>
                </ul>
            </div>
            <div ng-show="language.ru"><p>Площадь участка недр, предоставляемого в пользование, составляет
                552 га. Балансовые запасы торфа на указанном участке по состоянию
                на 09 февраля 2016 года составляют 1942,55 тыс. тонн, средняя глубина залежи составляет ~ 4,73 м, средняя
                степень разложения
                торфа - 16 %, средняя зольность равна 3,7 %, средняя влажность залежи – 95 %, средняя кислотность –
                4,3.</p>
                <p>В стратиграфическом отношении участок недр однороден, на нем выделено 2 типа залежи: верховой и
                    переходный.
                    При этом основную роль как по занимаемой площади, так и по запасам торфа-сырца на лицензионном
                    участке, играет верховая залежь.
                    На участке в основном распространен торф топяного подтипа (94,8 %), распространение торфа
                    лесо-топяного подтипа составляет 5,2 %.</p>
                <p>В формировании залежи участвуют различные виды торфа:</p>
                <table class="stat-table">
                    <tr>
                        <td>фускум-торф</td>
                        <td>74,7 %</td>
                    </tr>
                    <tr>
                        <td>магелланикум-торф</td>
                        <td>6,7 %</td>
                    </tr>
                    <tr>
                        <td>комплексный верховой торф</td>
                        <td>4,4 %</td>
                    </tr>
                    <tr>
                        <td>пушицево-сфагновый торф</td>
                        <td>2,9 %</td>
                    </tr>
                    <tr>
                        <td>шейхцериево-сфагновый торф</td>
                        <td>2,4 %</td>
                    </tr>
                    <tr>
                        <td>сосново-сфагновый торф</td>
                        <td>2,1 %</td>
                    </tr>
                </table>
                <p>Торф слабой степени разложения до 20 % распространен на всей площади лицензионного участка и
                    составляет 83 %
                    всех балансовых запасов торфа-сырца. Средняя мощность слоя торфа слабой степени разложения
                    составляет 3,69 м.
                    Местами этим торфом сложена вся толща залежи до минерального дна.</p>
                <p>В нижних слоях торфяной залежи залегает торф со средней и высокой степенью разложения (более 20 %).
                    Средняя мощность
                    слоя торфа средней и высокой степени разложения на лицензионном участке составляет 0,79 м.</p></div>
            <div ng-show="language.eng"><p>Subsoil area provided for use is 552 ha. According to balance reserves of
                peat in the specified area on February 9, 2016 there are 1942.55 thousand. tons, the average depth of the
                deposit is about 4.73 m, the average degree of peat decomposition - 16%, the average ash content is
                3.7%, the average humidity deposits - 95%, the average acidity - 4.3.</p>
                <p>The stratigraphic section of the subsoil is homogeneous and is comprised of 2 types of deposit:
                    surface and transition. The primary type, according to the area occupied as well as reserves of raw
                    peat, is surface deposit. The distribution of the peat swamp subtype is 94.8% and distribution of
                    peat swamp forest-subtype is 5.2%</p>
                <p>There are different types of peat involved in the formation of deposits:</p>
                <table class="stat-table">
                    <tr>
                        <td>fuscum peat</td>
                        <td>74,7 %</td>
                    </tr>
                    <tr>
                        <td>magellanikum-peat</td>
                        <td>6,7 %</td>
                    </tr>
                    <tr>
                        <td>complex peat moss</td>
                        <td>4,4 %</td>
                    </tr>
                    <tr>
                        <td>cotton grass-sphagnum peat</td>
                        <td>2,9 %</td>
                    </tr>
                    <tr>
                        <td>Scheuchzeria-sphagnum peat</td>
                        <td>2,4 %</td>
                    </tr>
                    <tr>
                        <td>pine-sphagnum peat</td>
                        <td>2,1 %</td>
                    </tr>
                </table>
                <p>Peat of a low degree of decomposition to 20% is spread over the entire area of the license area and
                    is 83% of balance reserves of raw peat. The average thickness of the layer of the peat of low degree
                    of decomposition is 3.69 m. In some places this peat is composed of the entire thickness of the
                    mineral deposits to the bottom.</p>
                <p>In the lower layers of peat deposits underlies peat with medium and high expansion (over 20%). The
                    average thickness of the layer of medium peat and the high decomposition peat in the license area is
                    0.79 m.</p></div>
            <div yandex-map="yandex-map" id="map"></div>
        </div>
        <div class="article-sidebar"><a href="./images/license.jpg" target="_blank"><img
                src="./images/license.jpg"/></a><img src="./images/peat-circle.jpg" class="img-phone-hide"/></div>
    </div>
</div>